<div class="container">
    <div class="row">
        <div class="col text-center">
            

            <img src="img/diri.jpg" alt="diri" class="img-thumbnail rounded-circle" width="250" height="250">
            <h1>Ichijou Ririka</h1>
            <p>Streamer | Content Creator</p>


        </div>
    </div>
</div>

    
   